menu "PCF8575 configuration"
    
config INTERRUPT_ENABLE
    bool "Enable interrupt ON/OFF"
    default y
    help 
        Enable or Disable interrup for pcf8575
if INTERRUPT_ENABLE 
config PCF8575_INTERRUPT_PIN
    int "Interrupt pin number"
    default 5
    help 
        Specify the GPIO pin number to be used for interrupt configuration
endif

endmenu

    

